header.header.bg-white
  // Top Bar 
  .top-bar.bg-dark.text-white.py-2
    .container.d-flex.justify-content-between.align-items-center
      .top-bar-left.small
        .inner-contact.text-right
          if(settingGeneral.phone)
              span.mr-3 Hotline: <b>#{settingGeneral.phone}</b>
          if(settingGeneral.email)
              span Email: <b>#{settingGeneral.email}</b>  
      .top-bar-right.small
        a(href="/user/orders" class="text-white text-decoration-none")
          i.fas.fa-box.mr-1
          | Kiểm tra đơn hàng

  // Main Header 
  .main-header.py-3
    .container
      .row.align-items-center
        .col-lg-3.col-6
          a(href="/" class="text-decoration-none d-flex align-items-center")
            if(settingGeneral && settingGeneral.logo)
                img(src=settingGeneral.logo, alt=settingGeneral.websiteName, style="max-height: 50px; width: auto; object-fit: contain;")
            else
                img(src="/images/logo.svg", alt="Logo", style="max-height: 50px; width: auto; object-fit: contain;")

        .col-lg-6.d-none.d-lg-block
          form(action="/products" method="GET")
            .input-group.rounded-pill.overflow-hidden.border
              input.form-control.border-0(type="text" placeholder="Tìm kiếm sản phẩm..." name="keyword" value=keyword)
              .input-group-append
                button.btn.btn-primary.px-4(type="submit")
                  i.fas.fa-search

        .col-lg-3.col-6.text-right
          .header-actions.d-flex.justify-content-end.align-items-center
            if (user)
              a.nav-link.text-dark.p-0.mr-3(href="/user/info")
                i.far.fa-user.mr-1
                span.d-none.d-md-inline #{user.fullName}
            else
              a.nav-link.text-dark.p-0.mr-3(href="/user/login")
                i.far.fa-user.fa-lg
            
            a.nav-link.text-dark.p-0.position-relative(href="/cart")
              i.fas.fa-shopping-bag.fa-lg
              span.badge.badge-primary.badge-pill.position-absolute(style="top: -10px; right: -10px;") #{miniCart ? miniCart.totalQuantity : 0}

// NAVIGATION 
nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-top.sticky-top.shadow-sm
  .container
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#mainNav")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#mainNav
      ul.navbar-nav.mx-auto
        li.nav-item.mx-2(class=(path === '/' ? 'active' : ''))
          a.nav-link.font-weight-bold(href="/") TRANG CHỦ
        li.nav-item.mx-2(class=(path && path.startsWith('/products') ? 'active' : ''))
          a.nav-link.font-weight-bold(href="/products") SẢN PHẨM
        li.nav-item.mx-2(class=(path === '/about' ? 'active' : ''))
          a.nav-link.font-weight-bold(href="/about") GIỚI THIỆU
        li.nav-item.mx-2(class=(path === '/contact' ? 'active' : ''))
          a.nav-link.font-weight-bold(href="/contact") CHÍNH SÁCH & LIÊN HỆ