extends ../../layouts/default.pug

block main
    .container.my-5
        .row
            .col-md-7.mb-4
                .product-image-gallery
                    img(
                        src=product.thumbnail
                        alt=product.title
                        class="img-fluid w-100 rounded"
                        style="object-fit: cover; background-color: #f6f6f6; max-height: 600px;"
                    )
            
            .col-md-5
                h1.display-5.font-weight-bold.mb-2 #{product.title}
                p.text-muted.mb-4(style="font-size: 1.1rem;") Giày bóng đá chuyên nghiệp

                .product-price.mb-4
                    if (product.discountPercentage > 0)
                        span.h2.font-weight-bold.text-danger.mr-3 #{product.priceNew}đ
                        span.h5.text-muted(style="text-decoration: line-through;") #{product.price}đ
                        span.badge.badge-danger.ml-2 -#{product.discountPercentage}%
                    else 
                        span.h2.font-weight-bold #{product.price}đ

                form(
                    id="form-add-to-cart"
                    data-id=product.id
                )
                    .form-group.mb-4
                        label.font-weight-bold(for="size") Chọn kích cỡ (Size)
                        select.form-control.form-control-lg(id="size" name="size")
                            option(value="39") Size 39
                            option(value="40") Size 40
                            option(value="41") Size 41
                            option(value="42") Size 42

                    .form-group.mb-4
                        label.font-weight-bold(for="quantity") Số lượng
                        input.form-control.form-control-lg(
                            type="number"
                            name="quantity"
                            value="1"
                            min="1"
                            max=product.stock
                            style="width: 100px;"
                        )
                        if (product.stock > 0)
                            small.text-success Còn #{product.stock} sản phẩm trong kho
                        else 
                            small.text-danger Hết hàng

                    button.btn.btn-dark.btn-lg.btn-block.py-3.mt-4(
                        type="submit"
                        disabled=(product.stock <= 0)
                    ) 
                        if (product.stock > 0)
                            | Thêm vào giỏ hàng
                        else 
                            | Đã bán hết

                .product-description.mt-5.pt-4(style="border-top: 1px solid #e5e5e5;")
                    h4.font-weight-bold.mb-3 Chi tiết sản phẩm
                    div.text-justify !{product.description}