extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/sub-menu.pug 

block main
    .container.mb-5
        .row.mt-4
            .col-lg-3.mb-4
                .card.mb-4.shadow-sm.border-0
                    .card-header.bg-primary.text-white.font-weight-bold
                        i.fas.fa-list.mr-2
                        | DANH MỤC SẢN PHẨM
                    .card-body.p-0
                        if layoutProductsCategory
                            +sub-menu(layoutProductsCategory, "/products")

                .card.mb-4.shadow-sm.border-0
                    .card-header.bg-success.text-white.font-weight-bold
                        i.fas.fa-filter.mr-2
                        | LỌC THEO GIÁ
                    .card-body
                        .form-check.mb-2
                            input.form-check-input(type="radio" name="price" value="under1" id="price1" filter-price checked=(price === 'under1' ? true : false))
                            label.form-check-label(for="price1") Dưới 1.000.000đ
                        .form-check.mb-2
                            input.form-check-input(type="radio" name="price" value="1to2" id="price2" filter-price checked=(price === '1to2' ? true : false))
                            label.form-check-label(for="price2") 1.000.000đ - 2.000.000đ
                        .form-check.mb-2
                            input.form-check-input(type="radio" name="price" value="over2" id="price3" filter-price checked=(price === 'over2' ? true : false))
                            label.form-check-label(for="price3") Trên 2.000.000đ
                        .form-check.mb-2
                            input.form-check-input(type="radio" name="price" value="" id="priceAll" filter-price checked=(!price ? true : false))
                            label.form-check-label(for="priceAll") Tất cả mức giá

            .col-lg-9
                .row.mb-3
                    .col-12.d-flex.justify-content-between.align-items-center
                        if (keyword)
                            +box-head(`Kết quả tìm kiếm: "${keyword}"`)
                        else 
                            +box-head(pageTitle ? pageTitle : "Tất Cả Sản Phẩm")
                        
                        .sort-box.d-flex.align-items-center
                            span.mr-2.font-weight-bold Lọc theo:
                            select.form-control.shadow-sm(name="sort" sort-select style="border-radius: 20px; cursor: pointer;")
                                option(value="newest" selected=(sort === 'newest' ? true : false)) Hàng mới về
                                option(value="best-selling" selected=(sort === 'best-selling' ? true : false)) Bán chạy nhất
                                option(value="price-asc" selected=(sort === 'price-asc' ? true : false)) Giá: Thấp đến Cao
                                option(value="price-desc" selected=(sort === 'price-desc' ? true : false)) Giá: Cao đến Thấp

                if products && products.length > 0
                    .row
                        each item in products
                            .col-md-4.mb-4
                                .product-item(style="position: relative;")
                                    .inner-image
                                        a(href=`/products/${item.slug}`)
                                            img(src=item.thumbnail, alt=item.title)
                                    .inner-content
                                        h3.inner-title 
                                            a(href=`/products/${item.slug}`) #{item.title}
                                        .inner-price-new #{item.newPrice.toLocaleString("vi-VN")} VNĐ
                                        if (item.discountPercentage > 0)
                                            .inner-price-old #{item.price.toLocaleString("vi-VN")} VNĐ
                                            .inner-discount -#{item.discountPercentage}%
                else
                    .alert.alert-warning.text-center.p-5.shadow-sm.w-100
                        i.fas.fa-box-open.fa-3x.mb-3.text-muted
                        if (keyword)
                            h4 Rất tiếc, không tìm thấy sản phẩm nào phù hợp với từ khóa "<b class="text-danger">#{keyword}</b>"
                        else
                            h4 Hiện tại danh mục này chưa có sản phẩm nào!