extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-5
        .row
            .col-12
                +box-head("Giỏ hàng của bạn")

        .row.mt-4
            .col-12
                if (cartDetail.products.length > 0)
                    .table-responsive
                        table.table.table-bordered.table-hover.text-center.align-middle
                            thead.thead-dark
                                tr
                                    th STT
                                    th Hình ảnh
                                    th Sản phẩm
                                    th Đơn giá
                                    th Số lượng
                                    th Thành tiền
                                    th Hành động
                            tbody
                                each item, index in cartDetail.products
                                    if (item.productInfo)
                                        tr
                                            td #{index + 1}
                                            td
                                                img(src=item.productInfo.thumbnail, alt=item.productInfo.title, width="80px" class="rounded")
                                            td.text-left
                                                a(href=`/products/${item.productInfo.slug}` class="text-dark font-weight-bold text-decoration-none") #{item.productInfo.title}
                                                if (item.variantInfo)
                                                    div.text-muted.mt-1 Size: #{item.variantInfo.size}
                                            td 
                                                div.font-weight-bold #{item.productInfo.priceNew.toLocaleString("vi-VN")} VNĐ
                                                if (item.productInfo.discountPercentage > 0)
                                                    div.text-muted(style="text-decoration: line-through; font-size: 0.9em;") #{item.productInfo.price.toLocaleString("vi-VN")} VNĐ
                                            td
                                                input(
                                                    type="number"
                                                    name="quantity"
                                                    value=item.quantity
                                                    min="1"
                                                    max=(item.variantInfo ? item.variantInfo.stock : 1)
                                                    product-id=item.product_id
                                                    variant-id=item.variant_id
                                                    style="width: 70px; text-align: center;"
                                                    class="form-control mx-auto"
                                                )
                                            td.font-weight-bold.text-danger #{item.totalPrice.toLocaleString("vi-VN")} VNĐ
                                            td
                                                button(
                                                    class="btn btn-sm btn-outline-danger"
                                                    button-delete-cart
                                                    product-id=item.product_id
                                                    variant-id=item.variant_id
                                                ) Xóa

                    .row.mt-4
                        .col-12.text-right
                            h4 Tổng đơn hàng: <span class="text-danger font-weight-bold">#{cartDetail.totalPrice.toLocaleString("vi-VN")} VNĐ</span>
                            a(href="/checkout" class="btn btn-success btn-lg mt-3 px-5") Tiến hành Thanh toán

                else
                    .alert.alert-warning.text-center.p-5
                        h4 Giỏ hàng của bạn đang trống!
                        a(href="/products" class="btn btn-primary mt-3") Đi mua sắm ngay