extends ../../layouts/default.pug

block main
    h1.mb-4.font-weight-bold Tổng quan hệ thống

    .row.mb-4
        .col-12
            .card.shadow-sm
                .card-header.bg-dark.text-white.font-weight-bold
                    i.fas.fa-user-shield.mr-2
                    | Thông tin tài khoản của bạn
                .card-body
                    .row.align-items-center
                        .col-md-2.text-center
                            if(user.avatar)
                                img(src=user.avatar alt=user.fullName class="img-thumbnail rounded-circle" style="height: 120px; width: 120px; object-fit: cover;")
                            else 
                                img(src="/admin/images/avatar.png" class="img-thumbnail rounded-circle" style="height: 120px; width: 120px;")
                        .col-md-10
                            if(user.fullName)
                                h4.text-primary.font-weight-bold #{user.fullName}
                            if(role.title)
                                p.mb-1 Vai trò: <span class="badge badge-success px-2 py-1">#{role.title}</span>
                            if(user.email)
                                p.mb-1 Email: <b>#{user.email}</b>
                            if(user.phone)
                                p.mb-1 Số điện thoại: <b>#{user.phone}</b>

    .row
        .col-xl-3.col-md-6.mb-4
            .card.shadow-sm.border-left-danger.h-100
                .card-header.bg-danger.text-white.font-weight-bold
                    i.fas.fa-shopping-cart.mr-2
                    | Đơn hàng
                .card-body
                    p.mb-2 Tổng số đơn: <b class="float-right">#{statistic.order.total}</b>
                    p.mb-2 Chờ xác nhận: <b class="float-right text-warning">#{statistic.order.pending}</b>
                    p.mb-2 Hoàn thành: <b class="float-right text-success">#{statistic.order.success}</b>
                    p.mb-0 Đã hủy: <b class="float-right text-danger">#{statistic.order.cancel}</b>

        .col-xl-3.col-md-6.mb-4
            .card.shadow-sm.border-left-success.h-100
                .card-header.bg-success.text-white.font-weight-bold
                    i.fas.fa-box-open.mr-2
                    | Sản phẩm
                .card-body
                    p.mb-2 Tổng sản phẩm: <b class="float-right">#{statistic.product.total}</b>
                    p.mb-2 Đang kinh doanh: <b class="float-right text-success">#{statistic.product.active}</b>
                    p.mb-0 Dừng kinh doanh: <b class="float-right text-danger">#{statistic.product.inactive}</b>

        .col-xl-3.col-md-6.mb-4
            .card.shadow-sm.border-left-info.h-100
                .card-header.bg-info.text-white.font-weight-bold
                    i.fas.fa-users.mr-2
                    | Khách hàng
                .card-body
                    p.mb-2 Tổng tài khoản: <b class="float-right">#{statistic.user.total}</b>
                    p.mb-2 Đang hoạt động: <b class="float-right text-success">#{statistic.user.active}</b>
                    p.mb-0 Bị khóa: <b class="float-right text-danger">#{statistic.user.inactive}</b>

        .col-xl-3.col-md-6.mb-4
            .card.shadow-sm.border-left-warning.h-100
                .card-header.bg-warning.text-dark.font-weight-bold
                    i.fas.fa-user-cog.mr-2
                    | Quản trị viên
                .card-body
                    p.mb-2 Tổng tài khoản: <b class="float-right">#{statistic.account.total}</b>
                    p.mb-2 Đang hoạt động: <b class="float-right text-success">#{statistic.account.active}</b>
                    p.mb-0 Bị khóa: <b class="float-right text-danger">#{statistic.account.inactive}</b>